<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astro</title>
    <style>
        .foo\:bar {
            color: red;
        }
    </style>
</head>
<body>
    <h1 class="foo:bar">This text should be red.</h1>
</body>
</html>
